* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(../img/fondo_pagina.jpg);
}


/* inicio de Header */

header {
    display: flex;
    min-height: 75px;
    background-image: url(../img/banner.jpg);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;

}

header a {
    text-decoration: none;
    color: black;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
}

nav a {
    font-weight: 600;
    font-family: 'Gloock', serif;
    color: rgb(204, 201, 196);
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

/* Inicio menu */


.titulouno {
    display: flex;
    font-size: larger;
    font-family: 'Gloock', serif;
    color: rgb(41, 41, 40);
    text-shadow: 2px 2px rgb(204, 201, 196);
    justify-content: center;
    margin-top: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.item p {
    font-size: medium;
    font-family: 'Gloock', serif;
    color: rgb(204, 201, 196);
    margin: 5px;
}


/* modelo */

model-viewer{
    width:100%;
    height:200px;
    background-color:rgb(46, 48, 40);
    }







/* MediasQ */

@media (max-width: 700px){
    header {
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}
@media (max-width: 368px){
    header {
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
    nav a {
        font-size: smaller;
        padding-right: 0px;
    }
}    
@media (max-width: 500px){
    header {
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
    nav a {
        font-size: small;
    }

}

@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}